@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block');


@theme {
  --color-primary: #1754cf;
  --color-card: var(--card-bg);
  --color-card-border: var(--card-border);
  --color-card-text: var(--card-text);
  
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

:root {
  --background: #f6f6f8;
  --foreground: #0e121b;
  --card-bg: #ffffff;
  --card-border: #d0d7e7;
  --card-text: #4b5563;
}

.dark {
  --background: #111621;
  --foreground: #ffffff;
  --card-bg: #111827;
  --card-border: #1f2937;
  --card-text: #9ca3af;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
